.loginCounters {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 35px; /* Adjust space between worker list and counters */
}

.counter {
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  border: 2px solid #666;
}

.localCounter {
  border-color: #4caf50; /* Green for local */
}

.globalCounter {
  border-color: #2196f3; /* Blue for global */
}
